samples/**
MarioKart64.z64
samples_note.txt
waypoints.txt
temporary.txt
data/*
*.pyc
*.npy
checkpoint
model.ckpt*
*.gif
*.ogv
*.mp4
*.h5
*.png
html/**
unused_data/**
*.swp
MORESTUFF.md
*.un~
*.*~
.vscode/**
exported_model/**